<html>
<body>
<form method="POST">
<h3>Enter starting date and time</h3>
<input type="date" name="sdate">
<input type="time" name="stime"><br>
<h3>Enter ending date and time</h3>
<input type="date" name="edate">
<input type="time" name="etime"><br>
<p>Enter your latitude :</p>
<input name="text1">
<input type="submit">
<p>Enter your longitude :</p>
<input name="text2">
<h3>{{ time1 }}</h3><br>
<h3>{{ name1 }}</h3><br>
<h3>{{ name2}}</h3><br>
<h3>{{ name3 }}</h3><br>
<h3>{{ name4 }}</h3><br>
<h3>{{ name5 }}</h3><br>
</form>
</body>
</html>
